@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  text-transform: capitalize;
  text-decoration: overline;
}

.container > p {
  letter-spacing: 2px;
  word-spacing: 5px;
  line-height: 2;
  text-transform: capitalize;
}

p {
    text-transform: uppercase;
}